#contenedor{
    display: flex;
    border-style: solid;
    border-color: black;
    height: 300px;
    width: 300px;
    align-items: flex-end;
    flex-direction: column;
}

#rojo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 100px;
    width: 100px;
}

#azul{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 100px;
    width: 100px;
}

#verde{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    height: 100px;
    width: 100px;
}

